.manage {
  width: 100%;
  max-width: 800px;
}

.innerdiv {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin: auto;
}

#labledevicetype {
  padding-left: 20px;
  font-variant: small-caps;
  font-size: medium;
  color: var(--color5);
}

.containerel {
  margin: 10px 0;
}

.floating {
  display: inline-block;
}

.modal {
  position: fixed;
  top: 30% !important;
}

.modal-title {
  margin: 0 auto;
}

.form-check {
  float: left;
  margin-left: 10px;
  margin-top: 4px;
}

@media only screen and (max-width : 494px) {
  .form-check {
    margin-left: 0;
  }
}
