<div class="container-fluid fill-screen manage">
  <div class="border border-secondary rounded">
    <h1 class="display-4">Manage</h1>
    <div *ngIf="!this.isLoading" class="innerdiv floating">
      <label class="text-left row" id="labledevicetype">{{device.type}}</label>

      <div class="containerel mb-3 border border-secondary rounded bg_color_green innerdiv">
        <div class="row">
          <div class="col">
            <button *ngIf="device.status.toLowerCase() === 'created' || device.status.toLowerCase() === 'disconnected'"
                    class="btn btn-info" style="float: left;" (click)="onConnect()">Connect
            </button>
            <button *ngIf="device.status.toLowerCase() === 'connected'" class="btn btn-secondary"
                    (click)="onDisconnect()" style="float: left;">Disconnect
            </button>
          </div>
          <div class="col">
            <p style="float: right;">Status:
              <small style="color: var(--color5)">{{device.status}}</small>
            </p>
          </div>
        </div>
        <div class="containerel input-group mb-3 row bg_color_green innerdiv">
          <label for="inputname"
                 class="col-lg-4 col-form-label form-control-label text-lg-right text-md-left">Name</label>
          <input id="inputname" class="form-control" type="text" value="{{device.name}}" placeholder="Name" required
                 #name>
          <div class="input-group-appended">
            <button type="button" class="btn btn-outline-success btn-group-lg btn-group-sm"
                    (click)="onSaveName(name.value)">Save
            </button>
          </div>
        </div>
      </div>

      <div class="containerel bg_color_green innerdiv rounded border border-secondary ">
        <h4 class="text-center">Options</h4>
        <ng-container *ngFor="let key of _ut.keys(device.params); let i = index">
          <div class="containerel input-group mb-3 row bg_color_green innerdiv">
            <label for="param{{i}}" class="col-lg-4 col-form-label form-control-label text-lg-right text-md-left">{{key}}</label>
            <ng-container>
              <input *ngIf="!device.acceptedParams[key].readOnly" id="param{{i}}" class="form-control" type="text"
                     value="{{device.params[key]}}"
                     placeholder="{{key}}" required>
              <input *ngIf="device.acceptedParams[key].readOnly" class="form-control" type="text"
                     value="{{device.params[key]}}"
                     placeholder="{{key}}" required disabled="disabled">
            </ng-container>
            <div *ngIf="!device.acceptedParams[key].readOnly" class="input-group-appended">
              <button type="button" class="btn btn-outline-success btn-group-lg btn-group-sm"
                      (click)="onSaveParam(key, i)">Save
              </button>
            </div>
          </div>
        </ng-container>
      </div>

      <form class="containerel border border-danger rounded bg_color_red innerdiv"
            (submit)="onSaveDangerZone(ip.value, port.value, type.value)">
        <h4 class="text-center">Danger zone</h4>
        <div class="form-group row">
          <label for="inputip"
                 class="col-lg-4 col-form-label form-control-label text-lg-right text-md-left">Ip</label>
          <div class="col-lg-6">
            <input id="inputip" class="form-control" type="text" value="{{device.ip}}" placeholder="Ip" #ip required
                   pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$"
                   title="Not a valid ip address.">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputport"
                 class="col-lg-4 col-form-label form-control-label text-lg-right text-md-left">Port</label>
          <div class="col-lg-6">
            <input id="inputport" class="form-control" type="text" value="{{device.port}}" placeholder="Port" required
                   pattern="^([0-9]{1,4}|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])$"
                   title="Invalid port. Port range: [0,65535]." #port>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputtype"
                 class="col-lg-4 col-form-label form-control-label text-lg-right text-md-left">Type</label>
          <div class="col-lg-6">
            <select class="form-control" id="inputtype" #type>
              <ng-container *ngFor="let option of _bs.deviceTypes">
                <option *ngIf="!(option === device.type)">{{option}}</option>
                <option *ngIf="option === device.type" selected="selected">{{option}}</option>
              </ng-container>
            </select>
          </div>
        </div>
        <div class="container fluid ">
          <button type="submit" class="btn btn-danger">Save changes</button>
        </div>
      </form>
      <div style='float: right;'>
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#deletionConfirm">Delete device
        </button>
      </div>
    </div>
    <div *ngIf="this.isLoading" class="form-group mb-3">
      <div class="loader"></div>
    </div>
  </div>
</div>
<div class="modal fade" id="deletionConfirm" tabindex="-1" role="dialog" aria-labelledby="deletionConfirm"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm delete device</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        If you delete this device you will not be able to recover it.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onDeleteDevice()">Delete device
        </button>
      </div>
    </div>
  </div>
</div>
