@import '~bootstrap/dist/css/bootstrap.min.css';

:root {
  --color1: #d8e0bb;
  --color2: #b6cec7;
  --color3: #86a3c3;
  --color4: #7268a6;
  --color5: #6b3074;

  --color6: rgba(182, 206, 199, 0.15);
  --color7: rgba(226, 18, 18, 0.15);
}

.bg_color_green {
  background-color: var(--color6);
}

.bg_color_red {
  background-color: var(--color7);
}

.fill-screen {
  padding-bottom: 60px; /*footer*/
}

.container-fluid {
  padding-top: 1rem;
  /*align-content: center;*/
}

html,
body {
  height: 100%;
  min-width: 400px;
}

body {
  -ms-flex-align: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
