@import '~bootstrap/dist/css/bootstrap.min.css';

:root {
  --color1: #d8e0bb;
  --color2: #b6cec7;
  --color3: #86a3c3;
  --color4: #7268a6;
  --color5: #6b3074;

  --color6: rgba(182, 206, 199, 0.15);
  --color7: rgba(226, 18, 18, 0.15);

  --color1rgb: rgba(216,224,187,0.4);
  --color2rgb: rgba(182,206,199,0.4);
  --color3rgb: rgba(134,163,195,0.4);
  --color4rgb: rgba(114,104,166,0.4);
  --color5rgb: rgba(107,48,116,0.4);

  --colordevices: #637c9b;
}

.bg_color_green {
  background-color: var(--color6);
}

.bg_color_red {
  background-color: var(--color7);
}

.fill-screen {
  padding-bottom: 60px; /*footer*/
}

.container-fluid {
  padding-top: 1rem;
  /*align-content: center;*/
}

html,
body {
  height: 100%;
  min-width: 400px;
}

body {
  -ms-flex-align: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

.loader {
  margin: 0 auto;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid var(--color4);
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 500ms linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


