@import '~bootstrap/dist/css/bootstrap.min.css';

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  margin-bottom: 60px;
}
html {
  position: relative;
  min-height: 100%;
}
