<div class="containerel innerdiv">
  <div class="container justify-content-center align-items-center">
    <div class="row justify-content-center align-items-center">
      <ng-container *ngIf="this.status === 'gray'">
        <i (click)="onLightBulbClick('red')" class="gray lightbulb fa fa-lightbulb-o fa-5x" aria-hidden="true"></i>
      </ng-container >

      <ng-container *ngIf="this.status === 'red'">
        <i (click)="onLightBulbClick('green')" class="red lightbulb fa fa-lightbulb-o fa-5x" aria-hidden="true"></i>
      </ng-container >

      <ng-container *ngIf="this.status === 'green'">
        <i (click)="onLightBulbClick('gray')" class="green lightbulb fa fa-lightbulb-o fa-5x" aria-hidden="true"></i>
      </ng-container >
    </div>
    <!--<div class="row justify-content-center align-items-center">-->
      <!--<ng-container *ngIf="!this.status">-->
        <!--<div class="alert alert-danger w-100" role="alert">-->
          <!--<h5 class="alert-heading">Security Off!</h5>-->
        <!--</div>-->
      <!--</ng-container>-->

      <!--<ng-container *ngIf="this.status">-->
        <!--<div class="alert alert-success w-100" role="alert">-->
          <!--<h5 class="alert-heading">Security On!</h5>-->
        <!--</div>-->
      <!--</ng-container>-->
    <!--</div>-->
  </div>
</div>
