<div class="container-fluid fill-screen profile">
  <div class="border border-secondary rounded bg_color_green">
    <h1 class="display-4">Profile</h1>
    <form *ngIf="!this.isLoading" class="container-fluid"
          (submit)="onSaveChanges(firstName.value, lastName.value, email.value, oldpassword.value, newpassword.value, confirmnewpassword.value)">
      <div class="form-group row">
        <label for="inputFirstName" class="col-lg-4 col-form-label form-control-label text-lg-right text-md-left">First
          name</label>
        <div class="col-lg-6">
          <input id="inputFirstName" class="form-control" type="text" value="{{user.firstName}}"
                 placeholder="First Name" #firstName>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputLastName" class="col-lg-4 col-form-label form-control-label text-lg-right text-md-left">Last
          name</label>
        <div class="col-lg-6">
          <input id="inputLastName" class="form-control" type="text" value="{{user.lastName}}" placeholder="Last Name"
                 #lastName>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail"
               class="col-lg-4 col-form-label form-control-label text-lg-right text-md-left">Email</label>
        <div class="col-lg-6">
          <input id="inputEmail" class="form-control" type="email" value="{{user.email}}" placeholder="Email" #email>
        </div>
      </div>
      <div class="">
        <h3 align="center">Change password</h3>
        <div class="form-group row">
          <label for="inputPasswordOld" class="col-lg-4 col-form-label form-control-label text-lg-right text-md-left">Old
            Password</label>
          <div class="col-lg-6">
            <input id="inputPasswordOld" class="form-control" type="password" value="" #oldpassword
                   placeholder="Old Password"
                   pattern=".{7,}" title="7 characters minimum">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-lg-4 col-form-label form-control-label text-lg-right text-md-left">New
            Password</label>
          <div class="col-lg-6">
            <input id="inputPassword" class="form-control" type="password" value="" #newpassword
                   placeholder="New Password"
                   pattern=".{7,}" title="7 characters minimum">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPasswordConfirmed"
                 class="col-lg-4 col-form-label form-control-label text-lg-right text-md-left">Confirm new
            password</label>
          <div class="col-lg-6">
            <input id="inputPasswordConfirmed" class="form-control" type="password" value="" #confirmnewpassword
                   placeholder="Confirm New Password"
                   pattern=".{7,}" title="7 characters minimum">
          </div>
        </div>
      </div>
      <div class="form-group col">
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </div>
      <div class="form-group mb-3">
        <div class="alert alert-info" role="alert">
          <p class="mb-0">If you don't want to change password, leave password fields empty.</p>
        </div>
      </div>
    </form>
    <div *ngIf="this.isLoading" class="form-group mb-3">
      <div class="loader"></div>
    </div>
  </div>
</div>
