<div class="container-fluid fill-screen">
  <div class="col">
    <h1 class="cover-heading">Smarthome</h1>
    <p class="lead">A beautiful diploma project.</p>
    <p class="lead">beautiful diploma project.</p>
    <p class="lead">diploma project.</p>
    <p class="lead">project.</p>
    <p class="lead">...</p>
    <p class="lead">.</p>
    <button (click)="getData()">Show Snackbar</button>

    <div id="snackbar">{{this.dataGet}}</div>
    <p class="lead">.</p>
    <p class="lead">.</p>
    <p class="lead">.</p>
    <p class="lead">.</p>
    <p class="lead">.</p>
    <p class="lead">.</p>
    <p class="lead">.</p>
    <p class="lead">.</p>
    <p class="lead">.</p>
    <p class="lead">.</p>
    <p class="lead">.</p>
    <p class="lead">.</p>
    <p class="lead">.</p>

    <p class="lead">
      <button class="btn btn-lg btn-secondary" (click)="redirect('login')">Learn more</button>
    </p>
  </div>
</div>
